@model ExpenseShare.Models.BillInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Bill Calculator";
}

<div class="well">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-muted"><em>@ViewBag.Message</em></h4>
</div>

<hr />

<form action="@Url.Action("CalculatorResult", "Calculator", Model)" method="post">
    <h4>Bill Total:</h4>
    <span><i class="glyphicon glyphicon-usd"></i>&nbsp;</span>@Html.TextBoxFor(m => m.BillAmount, new { @class = "test" })
    <h4>How Many Are Sharing:</h4>
    <span><i class="glyphicon glyphicon-user"></i>&nbsp;</span>@Html.TextBoxFor(m => m.NumberOfBillShares, new { @class = "test" })
    <h4>Select Tip Percentage:</h4>
    <span><i class="fa fa-percent"></i>&nbsp;</span>@Html.DropDownListFor(m => m.TipPercent, new SelectList(Model.TipPercentages, "Value", "Key"))
    <button style="display: block; margin-top: 10px;" class="btn btn-success">Calculate &raquo;</button>
</form>